.other-instruments {
  /*display: none;*/
  background-color: white;
  overflow-y: scroll;
  height: 8em;
}

.shape {
  overflow: hidden;
}

#start, #stop {
  display: none;
}

#colorPicker .sub-instrument {
  margin: 0;
}

#textSizer {
  line-height: 25px;
}

#textSizer .sub-tool {
  width: 25px;
}

.tool {
  float: left;
  padding: 20px;
}

.sub-tool {
  float: left;
  padding: 2px;
  cursor: pointer;
  text-align: center;
}

.setting {
  padding: 2px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.pressed {
  background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.instrument-container {
  padding: 20px;
  height: 250px;
  width: 250px;
  border: 1px solid grey;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0;
}

.instrument-container > iframe {
  height: 100%;
  width: 100%;
}

#innerText {
  text-align: center;
}

div[class*="i-"].active {
  display: none;
}

.no-scroll {
  max-width:100%;
  max-height:100%;
  overflow:hidden;
}

.sample-container {
  padding: 10px !important;
  border: 1px grey solid;
}

.material-icons {
  pointer-events: none;
}

#opener-button, .opener-iframe {
  display: none;
}

.info {
  display: none;
}

svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

svg > * {
  pointer-events: all;
}

.opener-iframe {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}

#menu {
  background-color: white;
  /*bottom: 0;*/
  box-shadow: 0 0 1em grey;
  cursor: pointer;
  height: 2em;
  /*margin-bottom: 0;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#pairing-button:after {
  clear: both;
}

#pairing-button > * {
  float: left;
  width: 33%;
}

.sub-instrument {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);;
  line-height: 2em;
  margin-bottom: 0.5em;
  padding: 0.5em !important;
  text-align: center;
}

h5 {
  font-size: 1.5em !important;
}

.selected:not(body) {
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);;
}

#sub-instrument-container {
  margin-left: 20px;
  margin-right: 20px;
}

body:not(.ddd_editor) {
  /*overflow: hidden;*/
  padding-top: 2em;
  background-color: white;
}

.editor-container {
  float: left;
  width: inherit;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #menu {
      /*position: absolute;*/
      /*top: 0;*/
      font-size: 1em;
    }
    body:not(.ddd_editor) {
      padding-top: 3em;
      font-size: 3em;
    }
    .editor-container {
      display: none;
      height: 100%;
      /*position: absolute;*/
      /*top: 0;*/
      width: 100%;

      /*overflow: hidden;
      width: 100%;
      height: 100%;
      border: none;
      background-color: #FFF;*/
    }

    .shortcut {
      display: none;
    }

    .editor-container:first-of-type {
      display: block;
    }

    /*div[class*="mobile-hidden-"] {
      display: none !important;
    }

    div[class*="mobile-shown-"] {
      display: block !important;
    }*/

    iframe {
      height: 100% !important;
      width: 100% !important;
      /*position:absolute;
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;*/
      /*overflow: scroll !important;
       width: 100%;
       height: 100%;
       border: none;*/
       /*width: 1px;*/
        /*min-width: 100%;*/
        /**width: 100%;*/
        /*height: 1px;*/
         /*min-height: 100%;*/
         /**height: 100%;*/
    }

    /*#opener-button, .opener-iframe {
      display: block;
    }*/

}

@media only screen and (max-device-width: 480px) {
  #menu {
    /*position: absolute;*/
    /*top: 0;*/
    font-size: 1em;
  }
  body {
    font-size: 3em;
  }
  .editor-container {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .shortcut {
    display: none;
  }

  .editor-container:first-of-type {
    display: block;
  }

  /*div[class*="mobile-hidden-"] {
    display: none !important;
  }

  div[class*="mobile-shown-"] {
    display: block !important;
  }*/

  iframe {
    height: 100% !important;
    width: 100% !important;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
  }
  /*#opener-button, .opener-iframe {
    display: block;
  }*/
}
